html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(#403075, #882d61);
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 40px;
}

header p {
  font-size: 20px;
}

.pads {
  background: lightblue;
  /*width: 100%;*/
  display: flex;
  cursor: pointer;
  flex-wrap: wrap;
 
}

.pads > div {
  height: 100px;
  width: 100px;
}

.pads > * {
  flex: 1 1 160px;
}

.kickPad {
  background: #6600dd;
  order: 2;
}

.kickPad:hover {
  background: #5b00c4;
}

.snarePad {
  background: #339b14;
  order: 3;
}

.snarePad:hover {
  background: #2c8611;
}

.hiHatPad {
  order: 4;
  background: #9b8214;
}

.hiHatPad:hover {
  background: #887211;
}

.clapPad {
  order: 1;
  background: #861506;
}

.clapPad:hover {
  background: #751407;
}

.crashPad {
  order: 5;
  background: #7a066b;
}

.crashPad:hover {
  background: #6b055e;
}

.tomPad {
  order: 6;
  background: #075583;
}

.tomPad:hover {
  background: #064a72;
}

.instructions {
  color: white;
}

.label {
  color: white;
  padding: 8px;
}